# Node.js - ignore node_modules in both frontend and backend
**/node_modules/

# Logs
**/logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv
**/.env
**/.env.*

# build outputs
**/dist/
**/build/

# Vite cache
**/.vite/

# IDEs and editors
.vscode/
.idea/
.DS_Store

# Misc
*.tgz
.yarn-integrity
